<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>
    {{ block "title" . }}
    {{- .Title }} - {{ .Site.Title -}}
    {{ end }}
  </title>

  <meta name="description" content="{{ .Summary }}" />
  {{ range .Params.categories }}
  <meta name="subject" content="{{ . }}">
  {{ end }}
  
  {{- if .Params.tags }}
  <meta name="keywords" content="{{ delimit .Params.tags "," }}" />
  {{ end -}}

  <meta name="author" content="{{ .Site.Params.author }}" />

  <meta name="robots" content="index,follow"><!-- All Search Engines -->
  <meta name="googlebot" content="index,follow"><!-- Google Specific -->

  <meta name="google" content="nositelinkssearchbox">

  <meta name="google-site-verification" content="aowWupsxj1lvaIv7Wt_uVh7Z__T-wgVCvimzs9S2BOE" />
  
  {{ $styles := resources.Get "css/styles.scss" | toCSS | postCSS (dict "config" "./assets/css/postcss.config.js") }}
  {{ if .Site.IsServer }}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}">
  {{ else }}
  {{ $styles := $styles | minify | fingerprint | resources.PostProcess }}
  <link rel="stylesheet" href="{{ $styles.Permalink }}" integrity="{{ $styles.Data.Integrity }}">
  {{ end }}
  {{- $scripts := resources.Get "js/index.js" | js.Build | minify | fingerprint }}
  <script type="text/javascript" src = '{{ $scripts.RelPermalink }}'></script>
</head>
